/** @format */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;
	font-family:Arial, Helvetica, sans-serif;
}

body, #root, .box {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;

}

#root {
	width: 100%;
	height: fit-content;
     background: #0B2434;
	padding: 30Px 0;
}

main {
	width: 80%;
	height: auto;
	padding: 40px;
     background: #fff;
	border-radius: 15px;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

main h1 {
	margin-block: .6rem;
}

main p {
	margin: 0 auto;
	font-weight: lighter;
	font-size: 1.3rem;
	margin-bottom: 1.5rem;
}

main .rolls-time-container {
	display: flex;
	justify-content: space-around;
}

main .rolls-time-container p {
	font-size: .9rem;
}

main .boxes-container {
	margin: 0 auto;
	width: fit-content;
	display: grid;
	grid-template: auto / repeat(3, 1fr);
	justify-items: center ;
	gap: 30px;
}

main .boxes-container .box {
	width: 55px;
	height: 55px;
	font-weight: bold;
	font-size: 2rem;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

main .box.heled-box {
	background-color: #59E391;
}

main button {
	width: 115px;
	height: 40px;
	background-color: #5035FF;
	color: #fff;
	font-size: 1.2rem;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 1.5rem;
}

main button:active {
	box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 576px) {
	main {
		height: 80%;
	}
	main .boxes-container {
		grid-template:  auto auto / repeat(5, 1fr);
		padding: 30px 0;
	}
	main .boxes-container .box {
		width: 60px;
		height: 60px;
	}
	main p {
		width: 70%;
	}
	main .rolls-time-container p {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 1015px) {
	#root {
		width: 60%;
	}
	main {
		width: 85%;
	}
}
